body{
    font-family: 'Roboto', sans-serif;
    height: 5000px;
    width: auto;

}
hr{
    margin: 0px;
    border-top: 1px solid rgb(226, 226, 226);
    width: 637px;
}

.banner{
    width: auto;
    height: 86px;
    padding-left: 80px;
    padding-right: 80px;
    margin: auto;
    
}
.elements{
    max-width: 1120px;
    height: 86px;
    padding: 24px 0px 0px;
    margin: auto;
    
}
.elementName{
    max-width: 1120px;
    height: 30px;
}
.elementsSections{
    max-width: 1120px;
    height: 28;
    display: flex;
    justify-content: space-between;
}
.section{
display: flex;
justify-content: flex-start;
font-size: 14px;
}
.section svg{
    padding: 8px 8px 8px 0px;
}
.section button{
    padding: 8px 8px 8px 0px;
    outline: none;
    border: none;
    background: transparent;
}
.section span{
    padding: 8px 8px 8px 0px;
}
h1 {
    font-weight: normal;
    font-size: 26px;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1120px;
    height: 400px;
    margin: auto;
    padding-top: 35px;
    gap: 10px;
    border-radius: 25px; /* no me funciona el borde en el container*/
    position: relative;

}
.mainImg{
    height: auto;
    width: auto;
    display: grid;
}
.secondaryImg{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
}
.img{
    height: auto;
    width: auto;
    border-radius: 10px; /* aqui si toma el borde en el container*/
    background-position: center;
}
#img1{
    background-image: url("./images/1.webp");
    background-size: contain;

}
#img2{
    background-image: url("./images/2.webp");
}
#img3{
    background-image: url("./images/3.webp");
}
#img4{
    background-image: url("./images/4.webp");
}
#img5{
    background-image: url("./images/5.webp");
}
.moreImg{
    display:flex;
    width: 160px;
    height: 34px;
    
    position: absolute;
     
     right: 24px;
     bottom: 24px;
    
}
.moreBtn{
    display: flex;
    width: 160px;
    height: 34px;
    border-radius: 10px;
    background-color: white;
    border-width: 1px;
    
    margin: auto;
}
.morediv{
    display: flex;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    
}
.moretext{
    margin-left: 8px;
}
.infoContainer{
    display: grid;
    grid-template-columns: 60% 40%;
    max-width: 1120px;
    height: 2124px;
    margin: auto;
    
}
.hostData{
padding: 48px 0px 24px;
height: 56px;
width: 581px;
margin: 0px;
display: flex;
justify-content: space-between;

}
data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin: 0px;
}
.host h2 {
    font-weight: normal;
    font-size: 22px;
    box-sizing: border-box;
    margin: 0px;
    justify-content: flex-start;
    
}

ol{
    list-style-type: none;
    margin: 0px;
    display: flex;
    padding: 10px 0px;
    align-self: flex-end;
    font-weight:lighter;
    
}
.profileImg{
align-items: flex-end;    
}
.profileBtn{
    height: 56px;
    width: 56px;
    margin: 0px;
    background-color: transparent;
    border: none;
    position: absolute;
}
.pimg{
    height: 56px;
    width: 56px;
    margin: 0px;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.highlightsContainer{
    height: 225px;
    width: auto;
    margin: 0px;
}
.highlightsStyleContainer{
    height: 160px;
    padding: 32px 0px;
}
.highlight{
display: flex;
margin-bottom: 24px;

}
.highlightStyle{
    margin: 0px 0px 0px 16px;
}
.hi1 {
    font-size: 16px;
}
.hi2{
    font-size: 14px;
    margin: 4px 0px 0px 0px;
    font-weight:lighter;
}
.stickyContainer{
    display: flex;
    justify-content: end;
    height: 2124px;
    
    
    
}
.bookContainer{
    height: 521px;
    width: 372.33px;
    margin-top: 48px;
    position:sticky;
    top: 128px;
    border-radius: 20px;
    border: 1px solid rgb(226, 224, 224);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;
    
    
    
}
.bookIt{
    height: 473px;
    width: 324.33px;
    padding: 24px;
    
    
}
.estimatePricing{
    margin-bottom: 24px;
}
.light{
    color: rgb(163, 163, 163);
    font-size: 14px;
    font-weight:lighter;
}
.span1{
    font-weight: normal;
    font-size: 22px;
}
.span2{
    font-weight: lighter;
    font-size: 16px;
}
.checkContainer{
    height: 112px;
    width: 322.33px;
    border-radius: 8px;
    border: 1px solid rgb(136, 136, 136);
    position: relative;
}
.checkFlex{
    display: flex;
}
.checkFlexI{
    height: 56px;
    width: 160.67px;
    position: relative;
}
#i2{
    border-left: 1px solid rgb(136, 136, 136);
}
.check{
    position: absolute;
    top: 12px;
    left: 12px;
    
    font-weight: bold;
    font-size: 10px;
}
.date{
    padding: 26px 12px 10px;
    font-size: 14px;
}
.chekI{
    border-top:1px solid rgb(136, 136, 136);
    width: 322.33px;
    height: 56px;
}
#guests{
    
    top: 68px;
    
    
}
