.App {
  text-align: center;
  padding: 0px 0px 0px;
  width: 100%;

  .navBar {
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      border-radius: 8px;
      display: flex;
      justify-content: space-evenly;
      border: 1px solid #e7e7e7;
      background-color: #dcdada;

      li {
        padding: 8px;
        background-color: #dddddd;
        margin: 5px;
        border-radius: 8px;
        background-color: transparent;
        color: #666;
        a {
          color: rgb(78, 78, 78);
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width:768px){
  .navBarContainer{
    padding: 0px 20px 0px;
  .navBar{
    position: relative!important;
    ul{
      justify-content: flex-start !important;
    }
  }
}
}
@media (min-width:992px){
  .navBarContainer{
    padding: 20px 40px 0px;
  }
  }
  @media (min-width:1200px){
    .navBarContainer{
      padding: 20px 80px 0px;
    }
    }